.jumbotron {
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }